<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - vineale</title>
</head>
<body>
    <h1>Welcome to vineale</h1>
    <p>Vineale is a service which combines URL-shortening with storage of text and image files.</p>

    <footer>
        &copy; 2022 SR2 Communications Limited, available under the terms of the <a href="https://opensource.org/licenses/BSD-2-Clause">BSD 2-clause License</a>.
    </footer>
</body>
</html>