<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSON view - vineale</title>
</head>
<body>
    <h1>JSON contents</h1>
    <hr />
    {{ json }}
    <hr />
</body>
</html>