<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text view - vineale</title>
</head>
<body>
    <h1>Text contents</h1>
    <hr />
    {{ text }}
    <hr />
</body>
</html>